<a href="https://colab.research.google.com/github/YuHan830/yuhan/blob/master/Getting_started_with_BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
conn=sqlite3.connect('aaa.db')

In [0]:
c=conn.cursor()

In [11]:
c.execute("""CREATE TABLE BookList(
  id integer,
  name text,
  rating integer
  )""")

In [12]:
c.execute("INSERT INTO BookList values(1, 'A', 1)")

In [14]:
c.execute("SELECT * FROM BookList")

In [15]:
c.fetchall()

[(1, 'A', 1)]